/* Header Styling */
h1,
h2,
h3 {
    color: #333333;
    font-weight: bold;
}

/* Code Block Styling */
pre,
code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
}

/* Link Styling */
a {
    color: #1a0dab;
    text-decoration: none;
}

/* Note Styling */
strong {
    color: #ff5722;
}

/* Mermaid Diagram Styling */
.mermaid-wrapper {
    max-width: 100%;
    overflow-x: auto;
    background-color: #f8f9fa;
    /* Light grey background */
    padding: 1rem;
    border-radius: 4px;
    /* Optional: adds rounded corners */
}

.mermaid {
    max-width: 100%;
    overflow-x: scroll;
    background-color: white !important;
    /* Ensure a white background */
    color: black !important;
    /* Ensure black text */
}

/* Additional Mermaid styling */
.mermaid .node rect {
    fill: #ffffff;
    /* White background for nodes */
    stroke: #333333;
    /* Dark border for nodes */
}

.mermaid .node text {
    fill: #333333;
    /* Dark text for nodes */
    text-anchor: middle;
    /* Center text horizontally */
    alignment-baseline: middle;
    /* Center text vertically */
}

.mermaid .edgePath path {
    stroke: #333333;
    /* Dark arrows */
}

.mermaid .edgeLabel text {
    fill: #333333;
    /* Dark text for edge labels */
}

.mermaid .cluster rect {
    fill: #f4f4f4;
    /* Light grey background for clusters */
    stroke: #333333;
    /* Dark border for clusters */
}

.mermaid .cluster text {
    fill: #333333;
    /* Dark text for clusters */
    text-anchor: middle;
    /* Center text horizontally */
    alignment-baseline: middle;
    /* Center text vertically */
}