{{ define "main" }}
<div class="posts-list-container">
    <h1 class="taxonomy-title">Posts tagged "{{ .Title }}"</h1>
    <p class="taxonomy-count">{{ len .Pages }} post{{ if gt (len .Pages) 1 }}s{{ end }}</p>

    {{ range (.Pages.ByDate.Reverse).GroupByDate "2006" }}
    <div class="year-group">
        <h1>{{ .Key }}</h1>
        <ul class="post-list">
            {{ range .Pages }}
            <li class="post-item">
                <span>
                    <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </span>
                <span class="dot-leader"></span>
                <span class="post-date">{{ .Date.Format "01.02" }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    <div class="back-link">
        <a href="/tags/">&larr; All Tags</a>
    </div>
</div>
{{ end }}
